[submodule "godot-cpp"]
	path = godot-cpp
	url = ./godot-cpp
	branch = godot-4.1.1-stable
[submodule "chibi"]
	path = scheme/chibi-scheme
	url = https://github.com/ashinn/chibi-scheme.git
	branch = master
[submodule "scheme/racket"]
	path = scheme/racket
	url = https://github.com/racket/racket.git
